<div class="item">
  <div class="itemHead"><span class="itemTitle"><{$story.title}></span></div>
  <div class="itemInfo">
    <span class="itemPoster"><{$lang_postedby}> <{$story.poster}></span> <span class="itemPostDate"><{$lang_on}> <{$story.posttime}></span> (<span class="itemStats"><{$story.hits}> <{$lang_reads}></span>)
  </div>
  <div class="itemBody">
    <{$story.imglink}>
    <p class="itemText"><{$story.text}></p>
  </div>
  <div class="itemFoot">
    <span class="itemAdminLink"><{$story.adminlink}></span> <span class="itemPermaLink"><{$story.morelink}></span>
  </div>
</div>