<{if $displaynav == true}>
  <div style="text-align: center;">
    <form name="form1" action="index.php" method="get">
    <{$topic_select}> <select name="storynum"><{$storynum_options}></select> <input type="submit" value="<{$lang_go}>" /></form>
  </div>
<{/if}>

<!-- start news item loop -->
<{section name=i loop=$stories}>
  <{include file="db:news_item.html" story=$stories[i]}>
  <br />
<{/section}>
<!-- end news item loop -->

<div style="text-align: right; margin: 10px;"><{$pagenav}></div>
<{include file='db:system_notification_select.html'}>
