<br /><br />

<p align="center">
    <a href="<{$xoops_url}>/modules/mydownloads/index.php"><img src="<{$xoops_url}>/modules/mydownloads/images/logo-en.gif" alt="" /></a>
</p>

<br /><br /><br />
<h4><{$lang_requestmod}></h4>
<form action="modfile.php" method="post">
<table width="80%">
  <tr>
    <td align="right"><{$lang_fileid}></td>
    <td><b><{$file.id}></b></td>
  </tr>
  <tr>
    <td align="right"><{$lang_sitetitle}></td>
    <td><input type="text" name="title" size="50" maxlength="100" value="<{$file.title}>"></td>
  </tr>
  <tr>
    <td align="right"><{$lang_siteurl}></td>
    <td><input type="text" name="url" size="50" maxlength="100" value="<{$file.url}>"></td>
  </tr>
  <tr>
    <td align="right"><{$lang_category}></td>
    <td><{$category_selbox}></td>
  </tr>
  <tr>
    <td></td><td></td>
  </tr>
  <tr>
    <td align="right"><{$lang_homepage}></td>
    <td><input type="text" name="homepage" size="50" maxlength="100" value="<{$file.homepage}>"></td>
  </tr>
  <tr>
    <td align="right"><{$lang_version}></td>
    <td><input type="text" name="version" size="10" maxlength="20" value="<{$file.version}>"></td>
  </tr>
  <tr>
    <td align="right"><{$lang_size}></td>
    <td><input type="text" name="size" size="10" maxlength="20" value="<{$file.size}>"> <{$lang_bytes}></td>
  </tr>
  <tr>
    <td align="right"><{$lang_platform}></td>
    <td><input type="text" name="platform" size="50" maxlength="50" value="<{$file.plataform}>"></td>
  </tr>
  <tr>
    <td align="right" valign="top"><{$lang_description}></td>
    <td><textarea name=description cols=60 rows=5><{$file.description}></textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br /><input type="hidden" name="logourl" value="<{$file.logourl}>"></input><input type="hidden" name="lid" value="<{$file.id}>"></input><input type="submit" name="submit" value="<{$lang_sendrequest}>"></input>&nbsp;<input type=button value="<{$lang_cancel}>" onclick="javascript:history.go(-1)"></input></td>
  </tr>
</table>
</form>
