Order Allow,Deny
Allow from all

RewriteEngine On

RewriteBase /

# --------------------------------------------------------------
# To redirect to the external website
# --------------------------------------------------------------
RewriteRule .*  http://jedivcs.sourceforge.net/ [L,R=301]



