Order Allow,Deny
Allow from all

RewriteEngine On

RewriteBase /

# --------------------------------------------------------------
# To redirect to the external website
# --------------------------------------------------------------
RewriteRule .*  http://www.delphi-jedi.org/jedi-quicktime.html [L,R=301]



