<br /><br />

<p align="center">
    <a href="<{$xoops_url}>/modules/mylinks/index.php"><img src="<{$xoops_url}>/modules/mylinks/images/logo.gif" border="0" alt="" /></a>
</p>

<div>
  <h4><{$lang_reportbroken}></h4>
  <form action="brokenlink.php" method="POST">
    <input type="hidden" name="lid" value="<{$link_id}>" /><{$lang_thanksforhelp}><br /><{$lang_forsecurity}><br /><br /><input type="submit" name="submit" value="<{$lang_reportbroken}>" />&nbsp;<input type=button value="<{$lang_cancel}>" onclick="javascript:history.go(-1)" />
  </form>
</div>

<br />